@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    background-color: hsl(0, 0%, 98%)
}
.container{
    min-width: 100vw;
    margin: 0;
    padding: 0;
}
nav{
   box-shadow: 0px 2px 4px hsl(0, 0%, 52%,0.3); 
   padding: 0 12px;
   background-color: white;
   width: 100vw;
}
.where{
    font-weight: 600;
}
p{
    margin-bottom: 4px;
}
.row{
    margin-left: 0;
}
.search{
    width: 90%;
    margin: auto;

}
#search-box{
    background-color: white;
    color:hsl(0, 0%, 52%);
    border-radius: 3px;
    box-shadow: 0px 0px 4px hsl(0, 0%, 52%,0.3);
    width: 320px;
    max-width: 90vw;
}
#search-box input{
    max-width:80%;
}
.search input,.search i{
    border: 0px;
    margin: 6px 8px;
}
input:focus,select:focus{
    outline: 0;
}
.flags .card,.filter-flags .card{
    border: 0px;
    width:200px;
    padding:0;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 0px 6px hsl(0, 0%, 52%,0.3);
}
.country-name{
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 600;
}
.info{
    margin:6px auto 16px 16px ;
    font-size: 12px;
    font-weight: 500;
}
p span{
    color: hsl(0, 0%, 52%);
}
.card picture{
    width: 100%;
    height: 125px;
}
img{
    width: 100%;
    height: 100%;
}
select{
    border: 0px;
    border-radius: 3px;
    box-shadow: 0px 0px 4px hsl(0, 0%, 52%,0.3);
    max-width: 160px;
    min-height: 40px;
}
.back{
    color: hsl(0, 0%, 52%);
    box-shadow: 0px 0px 4px hsla(0, 0%, 52%,0.3);
    width: fit-content;
    padding: 3px 16px;
    border-radius: 4px;
}
.country-data{
    max-height: 300px;
    min-height: 200px
}
.country-about{
    font-size: 13px;
    font-weight: 500;
}

.hidden{
    display: none;
}